PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=defaultdb
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=false

INPUTTER_1_PASSWORD=black
INPUTTER_2_PASSWORD=mouse
SESSION_SECRET=change-this-long-random-secret
